.pawn {
	width: 15px;
    height: 15px;
    margin: 3px;
    border-radius: 7px;
}

	.pawn.red {
		background-color: red;
	}
	
	.pawn.blue {
		background-color: blue;
	}
	
	.pawn.yellow {
		background-color: yellow;
	}
	
	.pawn.green {
		background-color: green;
	}

	.pawn:nth-child(even) {
	    float: right;
	    clear: right;
	}